* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.nurse2 {
  color: #496bf2;
}
.clearfix {
  clear: both;
}
.sesmo {
  list-style-type: none;
  float: right;
  font-size: 25px;
}
.p1 {
  font-size: 20px;
  line-height: 30px;
}

.logo {
  float: left;
}

ul li {
  display: inline-block;
  width: 200px;
}
.brian {
  background: url("../images/ezgif-2-b583d0ce77.png") no-repeat center
    center/cover;
  height: 50vh;
}
.you {
  color: rgb(0, 162, 255);
  position: relative;
  font-size: 60px;
  padding: 0 auto;
  margin-bottom: 25px;
}
.mine {
  float: right;
  width: 50%;
}
.nurse5 {
  font-size: 30px;
  margin-top: 40px;
}
.btn {
  padding: 15px 30px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: white;
  margin-top: 25px;
}
.btn-blue {
  background-color: #496bf2;
}
.btn-green {
  background-color: #2dd6c1;
}

.card {
  background-color: white;
  float: left;
  width: 30%;
  text-align: center;
  box-shadow: 1px 1px 5px grey;
  padding: 30px;
}
.card p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-size: 22px;
}
.card h2 {
  color: #496bf2;
  font-size: 30px;
  padding: 10px 0;
}
.card h2 {
  color: rgb(0, 110, 255);
}
.clearfix {
  clear: both;
}

.about-image {
  width: 50%;
  float: left;
}
.about-content {
  width: 50%;
  float: right;
  font-size: 30px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.read {
  padding: 15px;
  margin: 10px;
  background-color: #496bf2;
}
.clearfix {
  clear: both;
}
.clearfix {
  clear: both;
}
.Testimonials-circle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 0 auto;
  background-color: #2dd6c1;
  float: left;
  font-size: 30px;
}
.circle {
  width: fit-content;
  margin: 0 auto;
}
.pic {
  text-align: center;
}
.clearfix {
  clear: both;
}
.picture {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}
.me {
  color: #496bf2;
}
.doctor4 {
  font-size: 40px;
}
.medicine {
  margin-top: 5%;
}
.span1 {
  color: #2dd6c1;
}
.span2 {
  color: #496bf2;
}
.clearfix {
  clear: both;
}
.button {
  background-color: #496bf2;
  color: white;
  padding: 20px;
  margin: 5px;
}
.doctor {
  background: url("../images/ezgif-2-81a50240fb.png") no-repeat center
    center/cover;
  height: 80vh;
  margin: 60px 0;
}
.form input {
  margin: 30px;
  padding: 35px 20px;
  width: 20%;
}
.form {
  margin-left: 30px;
}
.images {
  padding: 20px;
}
.nurse {
  color: #496bf2;
  margin-top: 20px;
  font-size: 25px;
}
.circle {
  margin-top: 20px;
}
.picture {
  margin-top: 40px;
}
.face {
  float: right;
}
.car {
  float: left;
  width: 10%;
}
.icu {
  list-style-type: none;
}
.img5 {
  float: left;
}
.jeep {
  float: left;
}
.footercontainer {
  float: left;
  width: 25%;
}
.footercontainer h4 {
  font-size: 25px;
  padding-bottom: 20px;
}
.footercontainer ul li {
  list-style-type: none;
  font-size: 20px;
  padding-bottom: 20px;
}
.footercontainer ul li img {
  margin-right: 20px;
  display:block;
}

.footercontainer .icons {
  margin: 20px 0 0 20px;
}
.facebook {
  margin: 0 10%;
}
