*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.clearfix{
  clear: both;
}

.sesmo {
  list-style-type: none;
  float: right;
}

.logo{
  float: left;
}

ul li{
  display: inline-block;
  width: 200px;
}
.brian {
  background: url("../images/ezgif-2-b583d0ce77.png") no-repeat center
    center/cover;
  height:50vh
}
.you {
  color:rgb(0, 162, 255);
position:relative;
font-size:60px;
padding:0 auto;
margin:0 auto;

}
.mine{
  float:right;
  width:50%;
}
.ke{
  background-color:#496bf2;
  padding:30px;
  margin:20px;
}
.ka{
  background-color:#2dd6c1;
  padding:30px;
  margin:10px;
}
.card{
  background-color:white;
  display:inline;
  width:500px;
  float: left;
  border:outset lightgray;
  margin:30px;
}

.card h2{
  color: rgb(0, 110, 255);
}
.clearfix{
  clear:both;
}
.jpeg{
  width:700px;
  float:left;
}
.health{
  float:left;
}
.read{
  padding:15px;
  margin:10px;
  background-color:#496bf2;
}
.clearfix{
  clear:both;
}
.clearfix{
  clear:both;
}
.Testimonials-circle{
  width:20px;
  height:20px;
  border:90px; 
  border-radius:50px;
  margin:0 auto;
  background-color:#2dd6c1;
  float:left;
}
.circle{
  width:50% ;     
  margin-left: 440px;                                                                                             ;
}
.pic{
  text-align:center;
}
.clearfix{
  clear:both;
}
.picture{
text-align:center;
}
.me{
  color:#496bf2;
}
.span1{
  color:#2dd6c1;
}
.span2{
  color:#496bf2;
}
.clearfix{
  clear:both;
}
.button{
  background-color:#496bf2;
  color:white;
  padding:20px;
  margin:5px;
}
.doctor{
  background: url("../images/ezgif-2-81a50240fb.png") no-repeat center center/cover;
height: 100vh;
}
.form input{
  margin:30px;
  padding:35px 20px;
  width:20%;
}
.images{
  padding:20px;
}
.nurse{
  color:#496bf2;
}
.face{
  float:right;
}
.car{
  float:left;
  width:10%;
}
.img5{
  float:left;
}
.jeep{
  float:left;
}
.cars{
  float:left;
  width:20%;
}
.nail{
  line-hight:35px;
}
.telescope{
  color:#496bf2;
}
.nurse{
  color:#2dd6c1;
}
.patient{
  color:#496bf2;
}
.nurse2{
  color:#496bf2;
  font-family:'Josefin Sans', sans-serif;
}